#set($subject = "Device expiration")
#set($digest = "Device $device.name expired")
<!DOCTYPE html>
<html>
<body>
Your device $esc.html($device.name) has expired.
To continue use of your device please purchase a service package or sign up for a direct debit here https://location-services.complexus.uk/product/service-package/
</body>
</html>
